@if (restaurant$ | async; as restaurant) {
  <div class="restaurant-detail">
    <h1>{{ restaurant.restaurant_name }}</h1>
    <p>opening hours</p>
    <p>
      delivery time
    </p>
  </div>

  @if (menu$ | async; as menu) {
    @for (category of menu; track category.category_id) {
      <h2>{{ category.category_name }}</h2>
      <div class="menu-items">
        @for (item of category.items; track item.item_id) {
          <div class="menu-item">
            <div class="item-info">
              <span class="name">{{ item.item_name }}</span>
              @if (item.tags.length) {
              <small>{{ item.tags.join(', ') }}</small>
              }
            </div>
            <span class="item-price">{{ item.price | number:'1.2-2' }} €</span>
            <button (click)="addToCart(item)">Add</button>
          </div>
        }
      </div>

    }
  }
}

