@if (restaurant$ | async; as restaurant) {
  <div class="restaurant-detail">
    <h1>{{ restaurant.restaurant_name }}</h1>
    <p class="opening-hours"
       [ngClass]="restaurant.isOpen ? 'open' : 'closed'"
    >
      {{ restaurant.isOpen ? 'Open now' : 'Closed'}}
    </p>
    <p class="cuisine">
      {{ restaurant.cuisine }}
    </p>
    <p class="avg-rating">
      {{ restaurant.avg_rating | number: '1.1-1' }}⭐ ({{ restaurant.review_count }})
    </p>
  </div>

  @if (menu$ | async; as menu) {
    @for (category of menu; track category.category_id) {
      <h2>{{ category.category_name }}</h2>
      <div class="menu-items">
        @for (item of category.items; track item.item_id) {
          <div class="menu-item">
            <div class="item-info">
              <span class="name">{{ item.item_name }}</span>
              @if (item.tags.length) {
              <small>{{ item.tags.join(', ') }}</small>
              }
            </div>
            <span class="item-price">{{ item.price | number:'1.2-2' }} €</span>
            <button
              (click)="addToCart(item)"
              [class.added]="addedItems.has(item.item_id)"
            >
              @if (addedItems.has(item.item_id)) {
                Added ✓
              } @else {
                Add
              }
            </button>
          </div>
        }
      </div>

    }
  }
  <br/>

  <h3>Reviews</h3>

  <div class="review-form">
    <select [(ngModel)]="rating">
      @for (r of [1,2,3,4,5]; track r) {
        <option [value]="r">{{ r }} ★</option>
      }
    </select>

    <textarea
      [(ngModel)]="comment"
      placeholder="Write your review..."
    ></textarea>

    <button (click)="submitReview()">Submit</button>
  </div>

  @if (reviews$ | async; as reviews) {
    <div class="reviews">
      @for (review of reviews; track review.review_id) {
        <div class="review">
          <strong>{{ review.username }}</strong>
          <span>{{ review.rating }} ★</span>
          <p>{{ review.comment }}</p>
          <small>{{ review.created_at | date:'short' }}</small>
        </div>
      }
    </div>
  }
}

