/* Gesamtcontainer */
.restaurant-detail {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Restaurant Name */
.restaurant-detail h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #2c3e50;
}

/* Info Zeilen (Öffnungszeiten, Delivery) */
.restaurant-detail p {
  font-size: 0.95rem;
  color: #666;
  margin: 0.25rem 0;
}

/* Menü Kategorien */
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0 0.5rem;
  color: #34495e;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.25rem;
}

.menu-items {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  max-width: 80%;
  gap: 0.5rem
}

/* Menü Items */
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.6rem 1rem;
  border-bottom: 1px solid #f0f0f0;
  background-color: #fafafa;
  border-radius: 6px;
  gap: 1rem;
}

/* Name & Tags Container */
.menu-item .item-info {
  display: flex;
  flex-direction: column;
  flex: 1; /* nimmt so viel Platz wie möglich */
}

/* Item Name */
.menu-item .item-info span.name {
  font-weight: 500;
  font-size: 1rem;
  color: #2c3e50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Tags */
.menu-item .item-info small {
  font-size: 0.8rem;
  color: #999;
  margin-top: 0.25rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Preis Container */
.menu-item .item-price {
  min-width: 60px;  /* fixierte Breite für alle Preise */
  text-align: right;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

/* Add Button */
.menu-item button {
  background-color: #1D902E;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 1rem; /* Abstand vom Preis */
}

.menu-item button:hover {
  background-color: #052A02;
}


/* Responsive Anpassung */
@media screen and (max-width: 600px) {
  .restaurant-detail {
    padding: 1rem;
  }

  .menu-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-item button {
    margin-top: 0.5rem;
  }
}
