.spinner {
  border: 4px solid white;
  border-top: 4px solid green;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 30px;
  margin: 30px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
