.spinner {
  border: 4px solid white;
  border-top: 4px solid green;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 30px;
  margin: 30px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.Items-Editing{
  background: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 1rem;
  margin: 1rem 0;
}

.category-positon-btn{
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  border: none;
  background: #1d902e;
  color: white;
  cursor: pointer;
}

.card-list {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

@media (max-width: 1000px) {
  .card-list {
    display: flex;
    flex-direction: column;
  }
}

.card-item {
  cursor: grab;
  transition: transform 0.1s, box-shadow 0.1s;
}

.card-item:active {
  cursor: grabbing;
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.cdk-drag-placeholder {
  opacity: 1;
  border-radius: 12px;
  height: auto;
  margin: 0;
}

/* Modal */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #f5f5f5; /* smokey background */
  border-radius: 16px;
  width: 400px;
  max-width: 90%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
  max-height: 90vh;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  flex: 1;
  padding: 0.5rem 0;
  overflow-y: auto;
}

.save-btn {
  background: #1d902e;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

button {
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: background 0.2s, transform 0.1s;
}

.delete-btn {
  background: red;
  color: white;
}

.delete-btn:hover {
  background: red;
}

.save-btn {
  background: green;
  color: white;
}

.save-btn:hover {
  background: darkgreen;
}

.row.new {
  margin-top: 1rem;
}

.add-btn {
  background: green;
  color: white;
}

.add-btn:hover {
  background: green;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-size: 0.9rem;
  margin-bottom: 0.35rem;
  color: gray;
  font-weight: 500;
}

input {
  padding: 0.6rem 0.8rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  font-size: 0.95rem;

  background: white;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus {
  outline: none;
  border-color: green;
}

button:disabled {
  cursor: not-allowed;
}
