@if (isLoggedIn()) {
  <nav class="navbar">

    <!-- Logo -->
    <button class="logo" routerLink="/user">
      <img src="../public/assets/icons/EatNow.png" alt="EatNow"/>
    </button>

    <!-- USER MODE -->
    @if (role === UserRoles.USER) {
      <div class="text">
        @if (showSearch){
          <input
            type="text"
            class="search-input"
            placeholder="Search for a restaurant"
            (input)="onSearch($any($event.target).value)"  /> <!--@any = hier wird sicher ein input sein-->

        } @else {
          <h1 class="page-title">{{ title }}</h1>
        }
      </div>


      <div class="actions">
        <button class="icon-btn" routerLink="/user/loyalty">
          <img src="../public/assets/icons/loyalty.png" alt="Loyalty Points"/>
        </button>

        <button class="icon-btn" routerLink="/user/orders">
          <img src="../public/assets/icons/ShoppingCart.png" alt="Shopping Cart"/>
        </button>

        <button class="icon-btn" routerLink="/user/profile">
          <img src="../public/assets/icons/GenericAvatar.png" alt="User"/>
        </button>
      </div>
    }
    @else {   <!-- DEFAULT MODE -->
      <div class="actions">
        <button class="icon-btn">
          <img src="../public/assets/icons/GenericAvatar.png" alt="User"/>
        </button>
      </div>
    }

  </nav>
}

<!--missing owner and admin mode-->
