.spinner {
  border: 4px solid white;
  border-top: 4px solid green;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 30px;
  margin: 30px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.analytics-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.revenue-container,
.top-items-container {
  background: whitesmoke;
  border-radius: 12px;
  border: 1px solid lightgray;
  padding: 1rem;
}

.top-items-container{
  width: fit-content;
  min-width: 250px;
}

.chart-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.chart-item{
  flex: 0 1 calc(30% - 20px);
  min-width: 480px;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 0.5rem;
}

.chart-container h3 {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: green;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
}

@media screen and (max-width: 1250px) {
  .chart-container{
    flex-direction: column;
  }

  .chart-item{
    max-width: 500px;
  }
}




