/* Modal */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #f5f5f5; /* smokey background */
  border-radius: 16px;
  width: 400px;
  max-width: 90%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
}

.modal-header, .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  flex: 1;
  padding: 0.5rem 0;
}

.save-btn {
  background: #1d902e;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

button {
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: background 0.2s, transform 0.1s;
}

.delete-btn {
  background: red;
  color: white;
}

.delete-btn:hover {
  background: red;
}

.save-btn {
  background: green;
  color: white;
}

.save-btn:hover {
  background: darkgreen;
}

.row.new {
  margin-top: 1rem;
}

.add-btn {
  background: green;
  color: white;
}

.add-btn:hover {
  background: green;
}
