.loading-overlay {
  position: fixed;
  background-color: #EEF8E8;
  width: 100%;
  height: 100vh;
  top: 0;       /*vertical position*/
  left: 0;      /*horizontal position*/
  z-index: 9998;    /*overlay-ranking 0 on bottom - 9999 on top*/

  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* Spinner */
.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid #1D902E;
  border-top: 4px solid #052A02;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

.loading-text {
  font-size: 16px;
  color: #000;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
