.error-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #EEF8E8;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.error-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.error-code {
  color: #000;
  font-size: 66px;
  font-weight: bold;
}

.error-message {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}

.error-button {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: #1D902E;
  cursor: pointer;
}

.error-button:hover {
  background-color: #167725;
}
