<div class="container">
    <h2>Viewing Category: {{ category }}</h2>
     <div class="filter-bar">
        @for (f of currentFilters; track f.value) {
            <button 
                class="btn-filter" 
                (click)="setFilter(f.value)">
                {{ f.label }}
            </button>
        }
    </div>
    <div>
        <!-- Button     -->
        <button class="btn-create" (click)="onCreateItem()">Create New Item</button>
    </div>
    @if (isLoading) {
        <div class="Temporary">Loading data...</div>
    }
    @else if (displayedItems && displayedItems.length > 0) {
        <table>
           <thead>
                <tr>
                    @for (key of Object.keys(displayedItems[0]); track key) {
                        @if (key !== 'is_deleted') { <th>{{ key | titlecase }}</th> }
                    }
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (item of displayedItems; track trackById($index, item)) {
                    @if (shouldShowItem(item)) {
                        <tr>
                            @for (key of Object.keys(item); track key) {
                                @if (key !== 'is_deleted') { <td>{{ item[key] }}</td> }
                            }
                            
                            <td>
                                @if (category === 'restaurant_requests') {
                                    <button class="btn-approve" (click)="onApproveRequest(item)">Approve</button>
                                    <button class="btn-reject" (click)="onRejectRequest(item)">Reject</button>
                                } @else if(category === 'user_moderation') {
                                    <button class="btn-warnUser" (click)="onWarnUser(item)">Warn User</button>
                                    <button class="btn-banUser" (click)="onBanUser(item)">Ban User</button>
                                } @else {
                                    <button class="btn-edit" (click)="onEditItem(item)">Edit</button>
                                    <button class="btn-delete" (click)="onDeleteItem(item)">
                                        {{ filterStatus === true ? 'Purge' : 'Delete' }}
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    } @else {
        <p>No items found for this category.</p>
    }
    <!--  Modal Window for Create/Edit/Delete  -->
    @if (isModalOpen) {
        <div class="modal-overlay" (click)="closeModal()">
            <div class="modal-window" (click)="$event.stopPropagation()">
                <h3>{{ modalMode | titlecase }} Item</h3>

                <div class="modal-body">
                    @if (modalMode === 'delete' || modalMode === 'warnUser' || modalMode === 'banUser') {
                        <p>Are you sure you want to {{modalMode}} 
                            <strong>{{ selectedItem.restaurant_name || selectedItem.name || selectedItem.username }}</strong>?</p>
                    } @else {
                        @for (field of modalFields; track field) {
                            <!-- Filters Ids and Timestamps -->
                            @if (!field.toLowerCase().endsWith('id') && !field.toLowerCase().endsWith('at')) {  
                                <div class="form-group">
                                    <label>{{ field | titlecase }}</label>
                                    <input 
                                        type="text" 
                                        [(ngModel)]="selectedItem[field]" 
                                        class="form-control" 
                                        [placeholder]="'Enter ' + field">
                                </div>
                            }
                        }
                    }
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn-cancel" (click)="closeModal()">Cancel</button>
                    <button type="button" class="btn-confirm" (click)="confirmModal()">Confirm</button>
                </div>
            </div>
        </div>
    }
</div>
