@if (items$ | async; as items) {
  @for (item of items; track item.item_id) {
    <div>
      <span>
        {{ item.item_name }}<br />
        <small>{{ item.quantity }} × {{ item.price | currency:'EUR' }}</small>
      </span>

      <div class="quantity-controls">
        <button (click)="decrease(item.item_id)">−</button>
        <span>{{ item.quantity }}</span>
        <button (click)="increase(item)">+</button>
      </div>
    </div>
  }

  <hr />

  <strong>
    <span>Total</span>
    <span>{{ getTotalPrice() | currency:'EUR' }}</span>
  </strong>

  <button (click)="checkout()">Checkout</button>
}
