.manager-container {
    padding: 40px;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    padding: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
}

.menu-item img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin-bottom: 10px;
}