.manager-container {
    padding: 40px;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    padding: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
}

.menu-item img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin-bottom: 10px;
}

@media(max-width: 700px) {
    .manager-container {
        padding: 20px;
    }

    .menu-grid {
        display: grid;
        /* This creates 2 columns on mobile, and scales up on larger screens */
        grid-template-columns: repeat(1, 1fr); 
        gap: 15px;
        padding: 10px;
    }

    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        color: inherit;
    }

}