<h3>My Orders</h3>

@if (orders$ | async; as orders) {
  @if (!orders.length){
    <div class="empty">
      No orders yet.
    </div>
  } @else {
    <div class="order-card">
      @for (order of orders; track order.order_id) {
        <div class="header">
          <strong>#{{ order.order_id }}</strong>
          <span class="status status-{{order.status}}">
          {{ statusMap[order.status] }}
        </span>
        </div>

        <div class="body">
          <div>{{ order.restaurant_name }}</div>
          <div>{{ order.total | currency:'EUR'}}</div>
          <small>{{ order.date | date:'short' }}</small>
        </div>
      }
    </div>
  }
}
